#roadmapComponent {
}
.roadmapCol {
  margin-bottom: 5rem;
}
.roadmapImgCol {
  width: auto;
  height: 20rem;
  /* border: 1rem solid grey; */
}
.roadmapImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.roadmapCard {
  background: #312f2f9f;
  border-radius: 1rem;
  padding: 5rem;
}
.cardTitle {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.cardPara {
  padding: 1rem 5rem 0 5rem;
}
